<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piaoniu.backstage.dao.AdCityDao">
    <select id="selectcity" resultType="com.piaoniu.backstage.pojo.City">
        SELECT city_name from pn_city
    </select>

    <insert id="insertcity" parameterType="com.piaoniu.backstage.pojo.City">
        INSERT into pn_city(city_name)VALUES(#{city_name})
    </insert>

    <delete id="delcity">
        delete from pn_city where city_id=#{city_id}
    </delete>
</mapper>