<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piaoniu.backstage.dao.AdCityDao">
    <select id="selecthall" resultType="com.piaoniu.backstage.pojo.Hall">
        SELECT hall_name,hall_seatnum FROM pn_hall where show_place_id =#{show_place_id}
    </select>

    <insert id="inserthall" parameterType="com.piaoniu.backstage.pojo.Hall">
        INSERT INTO pn_hall ( hall_name,hall_seatnum) VALUES(#{hall_name},#{hall_seatnum})
    </insert>
    <update id="updatehall">
        update pn_hall set
        <if test="hall_name!=null">
            hall_name=#{hall_name},
        </if>
        <if test=" hall_seatnum!=null">
            hall_seatnum=#{hall_seatnum}
        </if>
        where hall_id=#{hall_id}
    </update>

    <delete id="delhall">
        delete from pn_hall where hall_id=#{hall_id}
    </delete>
</mapper>